.login-container {
  max-width: 400px;
  min-width: 320px;
  width: 100%;
  
  margin: 200px auto 30px;
}

.login-wrap {
  width: 100%;
}

.login-container h1 {
  text-align: center;
}

input {
  width: 100%;
  height: 35px;
  font-size: 14px;
  display: block;

  outline: none;

  border: none;
  border-bottom: 1px solid black;

  margin-bottom: 18px;

  background-color: rgba(240, 240, 240, 0.4);
}

.login-btn {
  width: 100%;
  height: 30px;
  font-size: 13px;
  border-radius: 20px;

  margin-top: 5px;
  font-weight: bold;
}

.active {
  cursor: pointer;
  color: white;
  background-color: rgb(50, 169, 244);
}

.move {
  width: 100%;
  text-align: center;
}

.move-btn {
  display: inline-block;
  width: 150px;
  padding: 4px;

  font-size: 13px;
  border-radius: 20px;
  font-weight: bold;

  cursor: pointer;
  color: white;
  background-color: rgb(50, 169, 244);

  text-decoration: none;
}

.move-btn:first-child {
  margin-right: 20px;
}